<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564336449826-opsob62kji9jfu0k0urkakcv0ujpum6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564336449826-opsob62kji9jfu0k0urkakcv0ujpum6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAAqoj6QrxAK4515LYCXK4k-oUOTK31fKw</string>
	<key>GCM_SENDER_ID</key>
	<string>564336449826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutpet</string>
	<key>PROJECT_ID</key>
	<string>workoutpet</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutpet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564336449826:ios:dca05877b4044a0f7d6d7b</string>
</dict>
</plist>